@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --color-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --color-rgb: 255, 255, 255;
  }
}

@keyframes header_text_switch {
  0% {
    content: "Lorem ipsum dolor";
  }
  25% {
    content: "Sit amet";
  }
  50% {
    content: "Consectetur adipiscing";
  }
  75% {
    content: "Elit consectetur";
  }
  100% {
    content: "Lorem ipsum dolor";
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--color-rgb));
}

nav {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--color-rgb));
}

.header_text_switch::before {
  content: '';
  animation: header_text_switch 8s ease-in-out infinite;
}

.header_illustration {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The beauty of services section */
.service-card:hover .service-card-icon {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
